<section class="fifth">
  <div class="container">
    <div class="fifth__flex">
      <h2 class="fifth__title">Как мы “приручили” криптовалюту</h2>
      <p class="fifth__text">
        Считается что крипта — это сложно. Да, вообще сложно…
      </p>
      <p class="fifth__text">
        Куча сложных слов вроде “блокчейн”, “шардинг”, “халвинг” , но на деле
        <b>всё работает по простой логике.</b> У кого есть исходный код сети
        “блокчейн”, тот и устанавливает правила.
      </p>
      <p class="fifth__text">
        У нас он есть, как и у любой криптовалюты. CoinTamer является
        криптовалютой, но <b>работает как инвестиционный проект.</b>
      </p>
      <img src="../img/fifth/fifth-img.png" alt="a part of laptop" class="fifth__img" />
      <p class="fifth__text">
        Каждый раз как в сумме криптовалютный рынок растет, биржевой робот
        открывает сделку на покупку от лица всех вкладчиков, зарабатывая на росте.
      </p>
      <p class="fifth__text">
        При этом, если рынок падает, алгоритм выходит из позиции за доли секунды,
        <b>сохраняя инвестиции пользователей в безопасности.</b>
      </p>
    </div>

    <img src="../img/fifth/fifth-img-desk.png" alt="a part of laptop" class="fifth__img-desk" />
  </div>
</section>