<footer class="footer">
  <div class="container">
    <h2 class="footer__title">CoinTamer принес своим инвесторам</h2>

    <div class="footer__count">
      <p class="footer__count-num" id="count-num">$1,543,327</p>
      <p class="footer__count-text">Данные обновляются в реальном времени</p>
    </div>

    <h3 class="footer__que-title">Остались вопросы?..</h3>
    <p class="footer__que-text">Мы ответили на самые частые из них</p>
    <ul class="footer__que-list list">
      <li class="footer__que-item">
        <b>Да,</b> инвестировать можно с любой карты и вывести тоже
      </li>
      <li class="footer__que-item">
        <b>Да,</b> мы гарантируем получение вами минимум 30% прибыли от
        вложенной суммы в течении недели
      </li>
      <li class="footer__que-item">
        <b>Нет,</b> никакой комиссии со сделок у нас нет, как и самих сделок.
        Всё делает алгоритм
      </li>
      <li class="footer__que-item">
        <b>Нет,</b> вам не нужно обладать какими-либо знаниями в инвестиционной
        сфере
      </li>
    </ul>

    <button type="button" class="footer__btn scroll-btn">
      Подключиться к проекту
    </button>
  </div>
</footer>
