<section class="hero">
  <div class="container">
    <div class="hero__header">
      <div class="hero__header-box">
        <img src="../img/hero/logo.svg" alt="" class="hero__header-img" />
        <div class="hero__header-pay">
          <p class="hero__header-text">Выплачено за сегодня:</p>
          <p class="hero__header-count">97,356$</p>
        </div>
      </div>

      <button class="hero__header-btn scroll-btn">Зарегистрироваться</button>
    </div>

    <h1 class="hero__title">COIN TAMER</h1>
    <p class="hero__text">
      Криптовалюта — опасный и волатильный зверь? Теперь это плюшевый мишка...
    </p>
    <button class="hero__btn scroll-btn2">О проекте</button>
  </div>
</section>
