<section class="second" id="form2">
  <div class="container">
    <div class="second-flex">
      <h1 class="second__title">Кто мы?</h1>

      <div class="second__text-box">
        <p class="second__text">
          Мы команда программистов, которой
          <b>надоели дикие скачки криптовалюты.</b>
        </p>
        <p class="second__text">
          Цифровая валюта — это большие возможности, а её превратили в типичный
          спекулятивный актив. <b>Так не годится.</b>
        </p>
        <p class="second__text">
          Нам удалось создать алгоритм, который
          <b
            >превращает криптовалюту из рискового актива в актив
            инвестиционный.</b
          >
        </p>
        <p class="second__text">
          Простыми словами, теперь тот же Биткоин платит вам просто за то, что
          вы инвестируете в него.
        </p>
      </div>
    </div>

    <img
      src="../img/second/dollar-fox.jpg"
      alt="fox on the dollar"
      class="second__img"
    />
    <img
      src="../img/second/dollar-fox-desk.png"
      alt="fox on the dollar"
      class="second__img-desk"
    />
  </div>
</section>
