<section class="third">
  <div class="container">
    <h2 class="third__title">Как работает CoinTamer:</h2>

    <ul class="third__list">
      <li class="third__list-item">
        <p class="item-num"><span class="item-num--zero">0</span>1</p>
        <p class="item-text">
          Вы инвестируете от 250$. Это ваши средства, которые
          <span>можно вывести в любой момент</span>
        </p>
      </li>
      <li class="third__list-item">
        <p class="item-num"><span class="item-num--zero">0</span>2</p>
        <p class="item-text">
          Алгоритм распределяет вашу инвестицию по разным крипто-монетам,
          создавая <span>ваш надежный инвестиционный портфель</span>
        </p>
      </li>
      <li class="third__list-item">
        <p class="item-num"><span class="item-num--zero">0</span>3</p>
        <p class="item-text">
          1 раз в неделю вы получаете
          <span>доход* на свою карту,</span> независимо от ситуации на рынке
        </p>
      </li>
    </ul>

    <button type="button" class="third__btn scroll-btn">Зарегистрироваться</button>

    <p class="third__attent">
      * Сумма дохода зависит от изначальной инвестиции. Последний срез по 6,457
      наших пользователей показывает, что инвесторы получают от 170$ до 640$ В
      НЕДЕЛЮ
    </p>
  </div>
</section>